## Carga de datos procesados

In [22]:
# Tratamiento de datos
import numpy as np
import pandas as pd

# Gráficos
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

# Estadísticas
import scipy
 
# mis cosas
import sys
import os

# Añado el directorio padre (del que está este notebook) a sys.path
sys.path.append(os.path.abspath('../'))
from scripts.utils_agv import ini_inspec, crear_tabla_resumen, numericas, categoricas

#from Prof.utils import create_summary_table, descriptive_statistics, plot_variable_distribution, grafico_combinaciones

ImportError: cannot import name 'numericas' from 'scripts.utils_agv' (/Users/angelg.villanueva/Documents/04 DATA-CB-PROGRAM/DS_Analisis_Datos/scripts/utils_agv.py)

In [9]:
viviendas_Madrid = pd.read_csv('../data/processed/viviendas_EDA_agv.csv')
df = viviendas_Madrid.copy()

In [18]:
print("Tipos de datos antes de la conversión:")
print(df.dtypes)

# Convertir columnas de tipo object a string
df["url"] = df["url"].astype("string")
df["title"] = df["title"].astype("string")
df["description"] = df["description"].astype("string")
df["Distrito"] = df["Distrito"].astype("string")
df["Barrio"] = df["Barrio"].astype("string")
df["type"] = df["type"].astype("string")
df["adName"] = df["adName"].astype("string")

# Convertir columnas a int16
df["baths"] = df["baths"].astype("int16")
df["rooms"] = df["rooms"].astype("int16")
df["m2"] = df["m2"].astype("int16")


print("\nTipos de datos después de la conversión:")
print(df.dtypes)

Tipos de datos antes de la conversión:
url            string[python]
title          string[python]
price                   int64
baths                   int16
rooms                   int16
m2                      int64
description    string[python]
type           string[python]
Barrio         string[python]
Distrito       string[python]
adName         string[python]
dtype: object

Tipos de datos después de la conversión:
url            string[python]
title          string[python]
price                   int64
baths                   int16
rooms                   int16
m2                      int16
description    string[python]
type           string[python]
Barrio         string[python]
Distrito       string[python]
adName         string[python]
dtype: object

In [19]:
df

,url,title,price,baths,rooms,m2,description,type,Barrio,Distrito,adName
0,https://www.idealista.com/inmueble/104027174/,Piso en venta en calle de Villanueva,1920000,3,3,183,Residencia única con acabados de la más alta c...,Pisos,Recoletos,Salamanca,Promora Madrid
1,https://www.idealista.com/inmueble/102321942/,Piso en venta en calle de Núñez de Balboa,1995000,3,3,170,"Preciosa reforma a estrenar, con terrazas y ga...",Pisos,Castellana,Salamanca,Engel & Völkers Madrid
2,https://www.idealista.com/inmueble/103334142/,Piso en venta en Conde Orgaz-Piovera,1300000,3,4,270,DE SALAS CONSULTORES INMOBILIARIOS MAV02679 le...,Pisos,ND,Hortaleza,De Salas Consultores Inmobiliarios
3,https://www.idealista.com/inmueble/104161987/,Piso en venta en Nueva España,1650000,3,3,248,Gilmar Real Estate vende espectacular piso en ...,Pisos,ND,Chamartín,Gilmar Viso - Chamartín
4,https://www.idealista.com/inmueble/103989666/,Piso en venta en calle de Claudio Coello,1590750,3,3,116,Descubre esta impresionante vivienda exterior ...,Pisos,Recoletos,Salamanca,Walter Haus Madrid
...,...,...,...,...,...,...,...,...,...,...,...
910,https://www.idealista.com/inmueble/103960809/,Piso en venta en calle de San Germán,1475000,4,5,376,Exclusiva vivienda en San GermánEngel & Völker...,Pisos,Castillejos,Tetuán,Engel & Völkers Madrid
911,https://www.idealista.com/inmueble/103494183/,Piso en venta en calle de Fuencarral,865000,2,2,127,"Esta magnífica vivienda, situada en una emblem...",Pisos,Trafalgar,Chamberí,Walter Haus Madrid
912,https://www.idealista.com/inmueble/102107584/,Piso en venta en Castellana,7900000,5,4,473,"Álvora Capital Properties, consultora inmobili...",Pisos,ND,Salamanca,álvora capital properties
913,https://www.idealista.com/inmueble/99991709/,Piso en venta en Costillares,990000,4,6,293,Espacioso y tranquilo piso en Pinar de Chamart...,Pisos,ND,Ciudad Lineal,Engel & Völkers Madrid
914,https://www.idealista.com/inmueble/103315777/,Piso en venta en Cuatro Caminos,1080000,2,4,270,Única Inmobiliaria Chamartín ofrece esta gran ...,Pisos,ND,Tetuán,Única Consultoría Inmobiliaria

## Análisis Exploratorio de Datos (EDA)

### Análisis univariante

In [11]:
crear_tabla_resumen (df)

,Tipo de dato,Categoría,Cardinalidad,% Cardinalidad,Valores faltantes,% Valores faltantes
Columna,,,,,,
url,object,Categórica Nominal,915,100.000000,0,0.0
title,object,Categórica Nominal,551,60.218579,0,0.0
price,int64,Numérica Discreta,393,42.950820,0,0.0
baths,int64,Numérica Discreta,12,1.311475,0,0.0
rooms,int64,Numérica Discreta,13,1.420765,0,0.0
m2,int64,Numérica Discreta,351,38.360656,0,0.0
description,object,Categórica Nominal,908,99.234973,0,0.0
type,object,Binaria,2,0.218579,0,0.0
Barrio,object,Categórica Nominal,87,9.508197,0,0.0
Distrito,object,Categórica Nominal,21,2.295082,0,0.0
adName,object,Categórica Nominal,118,12.896175,0,0.0

El DataFrame consta de 11 columnas

In [20]:
numericas (df)

NameError: name 'numericas' is not defined

In [ ]:
categoricas (df)